@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DriveDiary</h1>
    <p class="lead">Welcome to DriveDiary - a web service for following your vehicles' fuel consumption.</p>
</div>

