@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A web application for keeping track of your car's fuel consumption.</p>

<p>Implementation based on ASP.NET MVC framework.</p>
